html,body,div,h1,h2,h3,header,footer {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

body {
    box-sizing: border-box;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-wrapper {
    background-color: rgb(235, 182, 137);
    /* width: 100%;
    height: 50px; */
}

.nav-menu {
    list-style: none;
    color: #fff;
}

.nav-content{
    padding: 10px;
    background-color: rgb(235, 182, 137);
    font-family: 'Lobster', cursive;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}




.about-container {
    position: relative;
    margin: 40px 50px;
    border-bottom: 2px solid #dee7ec;
    font-family: 'Lobster', cursive;
}

.heading {
    font-size: 2em;
    padding: 10px;
}

.heading-img {
    margin-top: 30px;
    width: 10%;
    height: auto;
    border-radius: 50%;
}

.about-text {
    text-align: center;
    color: rgb(85, 83, 83);
    font-size: 1.2em;
    padding: 10px 70px;
    
}

h2 {
    color: rgb(85, 83, 83);
    font-size: 1.2em;
    font-family: 'Lobster', cursive;
}

.project-container {
    text-align: center;
    position: relative;
    margin-bottom: 2%;
    /* background-color: lightgoldenrodyellow; */
    font-family: 'Lobster', cursive;
}

.project-gallery {
    border-bottom: 2px solid #dee7ec;
}


.project-img {
    margin-top: 30px;
    width: 200px;
    height: auto;
    border-bottom: 2px solid #dee7ec;
}

.project-img2 {
    margin-top: 50px;
    width: 200px;
    height: 205px;
}

.project-img, .project-img2:hover {
    cursor: pointer;
}

.skills-container {
    text-align: center;
    padding: 10px 80px;
    font-family: 'Lobster', cursive;
}


.resume-text{
    font-size: 2em;
    padding: 10px;
    font-family: 'Lobster', cursive;
}

.collection with-header {
    margin-top: 30px;
    width: 200px;
    height: auto;
}

.footer-container {
    background-color: rgb(235, 182, 137);
    font-family: 'Lobster', cursive;
}